<h1>EDIT A CELEB</h1>
<form action="/celebrities/{{this._id}}" method="post">
  <input type="text" name="name" value={{this.name}}>
  <input type="text" name="occupation" value={{this.occupation}}>
  <input type="text" name="catchPhrase" value={{this.catchPhrase}}>
  <button type="submit">SUBMIT</button>
</form>