<h1>ADD A MOVIE</h1>
<form action="/movies" method="post">
  <input type="text" name="name" placeholder="name">
  <select name="actors" multiple>
    {{#each possibleActors}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <button type="submit">SUBMIT</button>
</form>