<ol>
  {{#each movies}}
  <li>{{this.name}}
    <ol>
      {{#each this.actors}}
      <li>name: {{this.name}} occupation : {{this.occupation}}</li>
      {{/each}}
    </ol>
  </li>
  {{/each}}
</ol>